[Desktop Entry]
Encoding=UTF-8
Name=Eulo
Comment=Eulo P2P Cryptocurrency
Comment[fr]=Eulo, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Eulo, eşten eşe kriptografik sanal para birimi
Exec=eulo-qt %u
Terminal=false
Type=Application
Icon=eulo128
MimeType=x-scheme-handler/eulo;
Categories=Office;Finance;
